<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Hasil Rupiah Converter</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div><h1>Hasil Rupiah Converter</h1></div>
    <hr>
        Rupiah to Dollar : <p th:text="${outDollar}"></p><br>
        Rupiah to Euro : <p th:text="${outEuro}"></p><br>
        Rupiah to Yen : <p th:text="${outYen}"></p><br>
        Rupiah to Rupee : <p th:text="${outRupee}"></p><br>
        Rupiah to Ringgit : <p th:text="${outRinggit}"></p><br>
    </body>
</html>
